<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <div class="flex-shrink-0 h-10 w-10">
        <img class="h-10 w-10 rounded-full" src="<%= project.icon_url %>" alt="">
      </div>
      <div class="ml-4">
        <div class="text-sm font-medium text-gray-900">
          <%= project.name %>
        </div>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><a href="<%= project.website %>" class="text-indigo-600 hover:text-indigo-900" target="_blank"><%= project.website %></a>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><a href="<%= project.ticker_url %>" class="text-indigo-600 hover:text-indigo-900" target="_blank"><%= project.ticker %></a>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
      Low
    </span>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <% project.audits.each do |audit| %>
      <a class="text-indigo-600 hover:text-indigo-900 block" href="<%= audit.url %>" target="_blank"><%= audit.auditor.name %></a>
    <% end %>
  </td>
</tr>